<section class="settings__section flex flex-column align-center">
  <header>
    <h2 class="divider">Developer</h2>
    <div>Manage <%= link_to "personal access tokens", my_access_tokens_path, class: "btn btn--plain txt-link" %> used with the Fizzy developer API.</div>
  </header>
</section>
