<% has_error = local_assigns.fetch(:error, false) %>

<%= form_tag commands_path,
      id: "commands_form",
      class: [ "flex align-center gap-half", { "has-error" => has_error } ],
      data: { controller: "form", action: "turbo:submit-end->form#reset turbo:submit-end->commands#focus keydown.meta+k@document->commands#focus" } do %>
  <label class="terminal__label txt-nowrap" for="fizzy_do">Fizzy do &gt;</label>

  <%= text_field_tag "command", has_error ? params[:command] : nil,
        autocomplete: "off",
        autocorrect: "off",
        autocapitalize: "off",
        class: "terminal__input input fill-transparent unpad",
        data: {
          commands_target: "input",
          action: "keydown.up->toggle-class#add:prevent keydown.down->toggle-class#remove:prevent",
          turbo_permanent: true
        },
        placeholder: "Press ⌘+K to search or type commands…" %>
<% end %>

